<#assign className = table.className>
<#assign classNameFirstLower = className?uncap_first>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:include="common/meta :: meta"></div>
</head>
<body>
<div th:include="common/menu :: menu"></div>

<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">${table.tableAlias} 列表</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-sm btn-primary"
                  onclick="window.location='/${classNameFirstLower}/add';">新增
          </button>
        </div>

        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover"
                   id="dataTables">
              <thead>
              <tr>
                <#list table.columns as column>
                <th align="center">${column.columnAlias}</th>
                </#list>
                <th align="center">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="item : ${r'${page}'}">
                <#list table.columns as column>
                  <th align="center" th:text="${r'${item.'}${column.columnNameLower}${r'}'}"/>
                </#list>
                <td><a th:href="@{'/picSrc/edit?id=' + ${r'${item.id}'}}"> [编辑]</a>&nbsp;</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<script src="/plugin/dataTables/jquery.dataTables.min.js"></script>
<script src="/plugin/dataTables/dataTables.bootstrap.min.js"></script>
<script src="/plugin/dataTables/dataTables.responsive.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#dataTables').DataTable({
      oLanguage: {
        sUrl: '/plugin/dataTables/lang/zh_cn.json'
      }
    });
  });
</script>
</html>
